<ul style="color: red">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/about-us">about</a>
  </li>
  <li>
    <a href="/contact-us">Contact</a>
  </li>
  <li>
    <a href="/students">students</a>
  </li>
</ul>
