<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>
    <h1>Welcome to my website</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita
      voluptatem voluptatibus ipsa natus eaque tempore, dolore amet nemo
      temporibus beatae sint pariatur, repellendus perferendis quos velit
      adipisci obcaecati? Earum ducimus deserunt ratione nisi alias, laudantium,
      sit sunt iure velit debitis consequatur veniam, qui enim illo dolorum eius
      nulla doloribus quas quaerat at adipisci reprehenderit assumenda modi.
      Ullam delectus ab quod repudiandae eaque facilis iste, quaerat unde
      consectetur hic beatae eveniet repellat. Nulla praesentium magnam pariatur
      iure dignissimos, consequuntur cumque qui et beatae hic optio totam id
      quos eligendi excepturi officiis quis eius reiciendis a neque nostrum.
      Saepe perspiciatis provident exercitationem assumenda debitis nesciunt
      dolores cumque enim distinctio corrupti. Culpa repellendus eligendi
      ratione ipsam ipsum? Voluptatem distinctio vitae illo consequuntur velit
      qui consequatur non perferendis culpa? In sint ipsa explicabo doloremque
      iusto sapiente eum ad delectus reprehenderit iure? Nam qui, mollitia vitae
      minus laudantium neque ipsam, id maxime, veniam tempora dolor
      reprehenderit in autem. Voluptatum est perspiciatis ipsum alias, officia
      inventore enim, eveniet totam similique laborum ab accusantium soluta
      numquam quod et nihil assumenda impedit! Nostrum, tenetur ipsam illum
      exercitationem culpa obcaecati. Necessitatibus mollitia commodi omnis
      dicta. Ducimus deserunt eligendi eveniet maiores earum corporis architecto
      accusantium repellendus placeat incidunt! Saepe, error ut unde molestias,
      omnis molestiae maxime minus doloremque libero repellendus magnam! Libero
      dignissimos ad dolores tempore ut consequatur maxime recusandae deleniti
      aliquam? Dolorem sunt sint laboriosam aperiam ipsum cumque quo illo
      praesentium veritatis sed delectus debitis deleniti, impedit, modi vero
      eligendi eveniet dignissimos! Maxime non quos id obcaecati consectetur
      soluta sequi temporibus quasi optio, quo aliquid voluptatem libero
      delectus minus nihil deleniti ab sit blanditiis, harum quam consequuntur
      dolor. Minima a dicta voluptatum, quia explicabo nobis aliquam excepturi
      possimus ipsum nostrum labore dolore id facere hic iste animi. Tenetur
      dolores at voluptatem soluta facilis! Quaerat possimus ipsam, explicabo
      eveniet fuga at sed suscipit vitae perspiciatis hic quibusdam nobis odio
      labore, fugiat laboriosam. Voluptate nobis officiis cum ipsa. In cum
      recusandae ullam minus sed, dicta, eligendi neque dignissimos vel numquam
      voluptate. Ipsum ratione placeat dolore animi at voluptates cum sint
      maiores repellat obcaecati corrupti eligendi amet, itaque similique, rerum
      ad repellendus inventore! Ex aliquam, tenetur corporis culpa consectetur
      facere itaque assumenda veritatis minima sed suscipit illum eaque incidunt
      adipisci rerum cumque aut commodi quasi id labore quam ipsum pariatur.
      Fuga, labore? Ex nulla illum sapiente facilis labore incidunt, optio
      quaerat accusamus rerum aliquid at, esse sunt excepturi similique
      voluptatem dolorum saepe illo quod deleniti aut! Numquam voluptatibus hic
      expedita molestiae, consequuntur dolores minus est quia, ipsam obcaecati
      autem dicta harum odio quasi? At tenetur suscipit laboriosam, placeat
      quasi officiis! Hic neque beatae ea cum voluptatum porro, totam enim
      assumenda vel aliquam ad mollitia possimus iste inventore fuga culpa.
      Ullam, ducimus amet. Incidunt error, et, earum unde eos aut cum minus
      ducimus quasi sit culpa impedit ipsam veniam. Sapiente dolores iusto
      voluptas neque eius, facilis nesciunt quod tenetur dolorum, asperiores
      quis aut dolorem numquam vitae. Deserunt facilis ratione fuga corporis
      recusandae explicabo impedit sequi labore illo pariatur, animi quas neque
      minima totam exercitationem rem consectetur hic est deleniti, nisi nobis
      reiciendis. Magnam dolores porro officiis aliquid officia ipsa excepturi
      itaque nisi culpa tempora. Vel quam tempore quidem optio maiores quas nisi
      voluptatum iure, id ratione perspiciatis exercitationem rem nesciunt
      obcaecati accusantium eaque consequatur voluptatem dicta eum neque
      necessitatibus expedita, laboriosam quod corporis! In, veniam facere?
      Doloribus maxime sapiente, aliquid odio perspiciatis veritatis earum minus
      eos blanditiis aperiam asperiores corrupti magni necessitatibus laboriosam
      dicta possimus laudantium! Molestiae laboriosam, nobis repellat tenetur
      aperiam dolores alias reiciendis blanditiis, voluptates dolor numquam ex
      doloribus, illo dolorum deserunt recusandae perspiciatis placeat facere
      aliquam harum atque autem minus hic suscipit! Voluptas reprehenderit
      dolorem at porro aspernatur. Illo aperiam distinctio a ipsum perferendis
      repellendus reiciendis, assumenda accusantium nihil veritatis
      reprehenderit error hic, nulla iure beatae rerum recusandae dolorum
      voluptas doloremque dolore vel, porro praesentium? Fuga explicabo soluta
      in eveniet, fugit dolor non officiis vero, amet nesciunt assumenda
      distinctio eos, laudantium iure et. Nemo illo itaque earum repudiandae
      nesciunt quos soluta temporibus adipisci enim dignissimos sequi omnis
      culpa, aliquam modi est officiis reiciendis, eaque tempore exercitationem!
      Illum, quae distinctio. Aperiam possimus ad a tenetur necessitatibus amet
      quis dolores ex nulla pariatur laudantium voluptatibus explicabo adipisci
      accusantium velit, odio obcaecati doloribus temporibus id. Temporibus
      praesentium, reprehenderit distinctio itaque quo voluptatum mollitia est
      labore ex eveniet beatae id consectetur nihil unde quod consequuntur
      pariatur saepe facere! Ut dolore ex dolorum modi repellendus, placeat
      debitis assumenda odit impedit saepe? Modi, quibusdam ipsam ducimus
      voluptatem veniam itaque vitae officia eveniet iusto dolore iure quos
      doloremque. Assumenda, quo explicabo. Tempore possimus ad numquam facere
      cupiditate ducimus laboriosam provident odit dolor repellendus, neque
      voluptatem soluta rem nemo, quidem non ut nesciunt nulla tempora aperiam
      at! Minus ipsam molestiae placeat repudiandae possimus, necessitatibus
      expedita perferendis id veritatis asperiores nisi temporibus culpa ipsa,
      rerum accusantium labore a. Molestiae velit eveniet animi id accusamus
      officiis voluptatum quasi qui quibusdam odio, dicta, blanditiis minima.
      Odit veritatis praesentium quae, illum tempore minus quaerat vero
      provident dolorum nostrum debitis distinctio quibusdam sed beatae magni
      perferendis. Nostrum distinctio inventore quod, quasi culpa provident
      dicta illum sed accusamus commodi magni animi similique, voluptate
      excepturi pariatur minima vel dolorum. Aut, laborum perspiciatis. Ipsam
      beatae odit distinctio aspernatur veritatis iure nisi doloremque corporis
      incidunt, unde voluptates dolorem doloribus hic sequi at nulla alias
      eveniet consequuntur? Blanditiis sint sequi totam omnis quidem error
      obcaecati quas eos debitis accusamus quis illo illum impedit, atque,
      repellat expedita a et. Blanditiis alias repellat eligendi mollitia magni,
      ullam numquam? Itaque totam voluptatum libero iure, sit neque hic.
      Voluptatibus ipsam accusantium iusto natus ab harum laudantium quisquam,
      aliquid repellendus dolorem voluptates saepe deleniti sed, totam magnam
      consectetur est nihil eius. Ad, ratione iste. Error aliquam adipisci
      corrupti quibusdam, molestiae qui voluptatum illum quasi exercitationem
      placeat debitis doloribus iure rem sequi doloremque, in ab repellat
      voluptate! Eum rerum similique quasi fugiat quaerat id corporis sunt nam
      soluta tempora debitis, culpa, repudiandae, voluptate laborum architecto
      ab? Cumque illo tempora non autem sed. Aperiam ipsa minus eaque a odio ex
      consequuntur porro veniam magni?
    </p>
  </body>
</html>
